html {
	font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: lighter;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    color: black;
    background: white;
    border: 0;
}

/* LINKS */

a:link, a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

.quiet_link {
	color: white;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

ul {
    display: inline-block;
}

p {
    padding: 0;
    line-height: 140%;
}


h1 {
    font-size: 300%;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 200%;
    margin: 1em 0 .5em 0;
}


h3 {
    font-size: 130%;
    margin: 0 0 .3em 0;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 110%;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}


dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 90%;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 90%;
}


code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20%;
    line-height: 1px;
}


p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #333;
    font-weight: normal;
}

.quiet strong {
    font-weight: bold;
}



/* PAGE STRUCTURE */

.container {
    position: relative;
    width: 100%;
    padding: 0;
}
#wrap {
    float: left;
    position: relative;
    left: 50%;
}
#content {
    float: left;
    position: relative;
    left: -50%;
}

.services {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.footer {
    clear: both;
    padding: 10px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:100%;
}



/* HEADER */

.header {
    background: white;
    color: black;
    overflow: hidden;
    border: 0;
}


.header a:link, .header a:visited {
    color: black;
}


.logo {
  padding-top: 5px;
}




a:link, a:visited, a:hover {
    text-decoration: none;
}

